@define-color white       #ffffff;
@define-color light-grey  #d0d0d0;
@define-color grey        #a0a0a0;
@define-color dark-grey   #505050;
@define-color black       #000000;

/* Font */
* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @light-grey;
  border-radius: 8px;
  background-color: @black;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @black;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @black;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @black;
}

/* Input Field */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @white;
  background-color: @black;
}

#input image {
  border: none;
  color: @grey;
}

#input * {
  outline: 2px solid @grey !important;
}

/* Text Entries */
#text {
  margin: 5px;
  border: none;
  color: @light-grey;
}

/* Entry Container */
#entry {
  background-color: @black;
}

#entry arrow {
  border: none;
  color: @light-grey;
}

/* Selected Entry */
#entry:selected {
  border: 2px solid @white;
}

#entry:selected #text {
  color: @white;
}

#entry:drop(active) {
  background-color: @grey !important;
}

